  * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
    }

body {
  background-color: grey;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

div {
  color: gold;
  float: left;
  margin: 3px;
  padding: 3px;
  position: relative;
  border: solid black 1px;
  box-sizing: border-box;


  }

h1 {
  color: yellow;
  border: solid black;
  border-width: 0 1px 0 1px;
  font-size: 175%;
}


div#row {
  width: 100%;
}
h1#first {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
}
h1#angel {
    color: white;
    background-color: blue;
    font-size: 125%;
}

h1#anima {
    color: red;
    background-color: blue;
    font-size: 125%;

}

h1#jabez {
    color: orange;
    padding-right: 3px;
    background-color: blue;
    font-size: 125%;


}

div#sec1 {
   background-color: red;
    position: relative;
}

div#sec2 {
    background-color: green;
    position: relative;
}

div#sec3 {
    background-color: blue;
    position: relative;
    padding-right: 3px;
    }

div#tit1 {
    float: right;
    position: relative;
    right: 0px;
    top: 0px;

}
div#tit2 {
    float: right;
    position: relative;
    right: 0px;
    top: 0px;

}
div#tit3 {
    float: right;
    position: relative;
    right: 0px;
    top: 0px;

}
/*LARGE divices*/
@media (min-width: 992px) {
   div#sec1 {
   width: 32%;
   }
   div#sec2 {
   width: 32%;
   }
   div#sec3 {
   width: 32%;
   }
}

/*MEDIUM divices*/
@media (min-width: 768px) and (max-width: 991px) {
   div#sec1 {
   width: 49%;
   }
   div#sec2 {
   width: 49%;
   }
   div#sec3 {
   width: 100%;
   }

}

/*SMALL divices*/
@media (max-width: 767px) {
   h1 {
   font-size: 16px;
   }
   div#sec1 {
   width: 100%;
   }
   div#sec2 {
   width: 100%;
   }
   div#sec3 {
   width: 100%;
   }

}
